@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

body{
    background-color: #2c2c2c;
    font-family: 'Roboto', sans-serif;
}
main{
    height: 95vh;
    width: 65vw;
    margin: auto;
    align-items: center;
    align-content: center;
    padding: 10px;
}

#sectionGitLive{
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: unset;
    gap: 50px;
    grid-template-columns: auto auto;
}

fieldset{
    width: 27vw;
    height: 23vh;
    padding-top: 27px;
    color: white;
    background-color: #424242;
    border: dashed 5px gold;
    border-radius: 50px;
    border-spacing: 3px;
    border-top-style: unset;
}

label{
    font-size: 2.5vh;
}

input{
    height: 3.5vh;
    width: 16vw;
}

legend{
    padding-inline-start: 25px;
    padding-inline-end: 25px;
    font-size: 2.3vw;
}

a{
    color: #f9d431;
    font-size: 20px;
}

button {
display: inline-block;
padding: 7px 14px;
font-size: 24px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
background-color: #dfc11a;
border: none;
border-radius: 10px;
box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
background-color: #3e8e41;
box-shadow: 0 3px #666;
transform: translateY(2px);
}

button:focus{
    background-color:red;
}